<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Dormitory_management_system</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!--   CharSetFilter -->
  <filter>
    <display-name>CharSetFilter</display-name>
    <filter-name>CharSetFilter</filter-name>
    <filter-class>com.system.filter.CharSetFilter</filter-class>
    <init-param>
      <param-name>code</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharSetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.system.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.system.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.system.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.system.servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>DormitoryServlet</display-name>
    <servlet-name>DormitoryServlet</servlet-name>
    <servlet-class>com.system.servlet.DormitoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DormitoryServlet</servlet-name>
    <url-pattern>/DormitoryServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>BillServlet</display-name>
    <servlet-name>BillServlet</servlet-name>
    <servlet-class>com.system.servlet.BillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillServlet</servlet-name>
    <url-pattern>/BillServlet</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <description></description>
    <display-name>RepairServlet</display-name>
    <servlet-name>RepairServlet</servlet-name>
    <servlet-class>com.system.servlet.RepairServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepairServlet</servlet-name>
    <url-pattern>/RepairServlet</url-pattern>
  </servlet-mapping>
  
<!-- filters -->
  
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.system.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/pages/*</url-pattern>
  </filter-mapping>
</web-app>